{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{# flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{# form #}
{% if form is rootform  %}
    {{ form_errors(form) }}
{% endif %}

{{ form_start(form) }}
{{ form_row(form) }}
    {{ widget_recaptcha()|raw }}
{{ form_end(form) }}

{% endblock %}
