{% set currentRoute = 'frontend_contact' %}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{# flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1 class="text-3xl">{{ 'text.contact_us' | trans }}</h1>


{{ form_start(form) }}
{{ form_row(form) }}
{{ form_end(form) }}

{% endblock %}
