{% extends 'base.html.twig' %}

{% block title %}Hello ExampleFormController!{% endblock %}

{% block body %}

    <h1>Liste</h1>


    <div class="card">
        {% for row in data %}
            <div class="p-2">
                {{ row.name }}
                - <a href="{{ path('doctrine_crud_edit', {'id': row.id}) }}" class="btn btn-primary">Edit</a>
                - <a onclick="if (confirm('Remove ?')) { return true; } else { return false; }" href="{{ path('doctrine_crud_remove', {'id': row.id}) }}" href="" class="btn btn-danger">Remove</a>
            </div>
        {% endfor %}
    </div>


    <h1>Create</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div role="alert" class="alert alert-warning flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(form) }}

{% endblock %}
