<nav class="header-right" id="main-nav">
    <a href="{{ path('frontend_event_all') }}">{{ 'Evénements' | trans }}</a>
    <a href="{{ path('frontend_contact') }}"><i class="fas fa-envelope-open-text"></i> {{ 'Contact' | trans }}</a>
    <a href="{{ path('member_event_index') }}"><i class="far fa-user"></i> {{ 'Mon compte' | trans }}</a>
</nav>